.header {
	width: 100%;
	justify-content: flex-end;
}

.option {
	cursor: pointer;
}

.section {
	display: flex;
}

@media screen and (max-width: 499px) {
	.header {
		width: 100vw;
	}
}

@media screen and (min-width: 500px) and (max-width: 999px) {
	.header {
		width: 173vw;
	}
}

@media screen and (min-width: 1000px) and (max-width: 1499px) {
	.header {
		width: 100%;
	}
}
